{% import "_macros.html" as macros %}
<!doctype html>
<title>{{ course.name }}</title>

  <h1> {{ course.name }}</h1>

{% for message in get_flashed_messages() %}
  <h4>{{ message }}</h4>
{% endfor %}
<h3>标签</h3>

<ul>
  {% for t in tags %}
    <li>{{ t.tags.name }}&nbsp;&nbsp;&nbsp;{{ t.count}}次</li>
  {% endfor %}
</ul>


<h3 id="comments">评论</h3>
<ul>
  {% for c in comments %}
    <li>{{ c.body }}&nbsp;&nbsp;&nbsp;发表于{{ c.time }}</li>
  {% endfor %}
</ul>

{{ macros.pagination_widget(pagination, '.course_page', id = course.id, _anchor = 'comments') }}

<h3>发布评论</h3>
<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.tags.label() }} {{ form.tags() }}
  {{ form.body.label() }} {{ form.body() }}
  {{ form.submit() }}
</form>