<!DOCTYPE HTML>
<html>
<head>
<title>丸子发的博客</title>
<!-- Bootstrap -->
<link href="../static/bootstrap.min.css" rel='stylesheet' type='text/css' />
<link href="../static/bootstrap.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!--[if lt IE 9]>
     <script src="../static/html5shiv.js"></script>
     <script src="../static/respond.min.js"></script>
<![endif]-->

<link href="../static/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- start plugins -->
<script type="text/javascript" src="../static/jquery.min.js"></script>
	<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();
			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});
			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>
<!----font-Awesome----->
   	<link rel="stylesheet" href="../static/font-awesome.min.css">
<!----font-Awesome----->
</head>
<body>
<div class="header_bg" id="home"><!-- start header -->
<div class="container">
	<div class="row header text-center specials">
		<div class="h_logo">
			<a href="index_b.html"><img src="../static/logo.png" alt="" class="responsive"/></a>
		</div>
		<nav class="top-nav">
			<ul class="top-nav nav_list">
				<li class="page-scroll"><a href={{url_for("index")}}><u>🍺️about me ^_^❤️❤🍺️️</u></a></li>

			    <li class="page-scroll"><a href="{{url_for(".blog")}}"><u>🍺️blog❤️❤🍺️️</u></a></li>
			</ul>
			<a href="#" id="pull"><img src="../static/nav-icon.png" title="menu" /></a>
		</nav>
		<div class="clearfix"></div>
	</div>
</div>
</div>

        </div><!-- end wmuSlider example1 -->
        <div class="clearfix"></div>
      </div>
</div>
</div>
<div class="main_bg"  id="about"><!-- start about us -->
<div class="container">
	<div class="row about">
		<div class="col-md-3 about_img">
			<img src="../static/wanzi.JPG" alt="" class="responsive"/>
		</div>
		<div class="col-md-9 about_text">
			<h3>wanzifa</h3>
			<h4>python developer</h4>
			<p>我叫王怡凡,来自木犀团队，这是我的技术博客^_^.
            <p>木犀团队是一个独立自由的学生互联网团队,诞生于江城武汉、美丽的桂子山.</p>
			<p>在这里,我们学习有趣的知识,做自己想做的事情.</p>
			<p>我是团队的一名后台开发,现在使用的主要语言是python,开发使用的框架是flask.这个寒假我接触到"Diango"这个新的框架,还在入门中.</p>
			<p>我接触的语言不多,python是一门简单可爱的语言,我很喜欢.</p>

		</div>
	</div>
</div>
</div>
<div class="footer1_bg"><!-- start footer1 -->
	<div class="container">
		<div class="row  footer">
			<div class="copy text-center">
				<p class="link"><span>Copyright @bootstrap 2016.wanzifa All rights reserved.</span></p>
				<a href="#home" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
			</div>
		</div>
		<script type="text/javascript">
				$(function() {
				  $('a[href*=#]:not([href=#])').click(function() {
				    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			
				      var target = $(this.hash);
				      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				      if (target.length) {
				        $('html,body').animate({
				          scrollTop: target.offset().top
				        }, 1000);
				        return false;
				      }
				    }
				  });
				});
		</script>
		<!---- start-smoth-scrolling---->		
	</div>
</div>

</body>
</html>
